Raqim/Backend/.env
Raqim/Backend/venv/
Raqim/Backend/__pycache__/
Raqim/Backend/uploads/
Raqim/Backend/corrected_files/
Raqim/Backend/*.png
Raqim/Backend/raw_output.txt
Raqim/Backend/test_eq.py
Raqim/Backend/deepseek_outputs/
Raqim/Backend/ground_truth/
Raqim/Backend/deepseek_evaluation.xlsx
Raqim/my-app/node_modules/
*.pyc
*.log
